@font-face {
    font-family: isonormd;
    src: url("font/isonormd.ttf") /* TTF file for CSS3 browsers */
}
body {
    margin: 0px;
    font-family: 'isonormd', sans-serif;
    background-color: white;
    font-size: normal;
    font-weight: large;
}

p {
    margin: 0px;
    padding: 3px;
}

h1 {
    margin: 0px;
    padding: 10px;
}

a, img {
    border: none;
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
    color: #000000;
}

a:active {
    text-decoration: underline;
    color: #000000;
}

@media (min-aspect-ratio: 2/3) {
body {
    overflow: hidden;
}

#left {
    background-color: white;
    width: 400px;
    height: 100vh;
    float: left;
    overflow: auto;
}

#right {
    width: calc(100vw - 400px);
    height: 100vh;
    float: right;
    background-repeat: repeat;
    background-image: url(images/index/tilesindex.jpg);
    background-size: contain;
}

}
@media (max-aspect-ratio: 2/3) {
body {
    overflow-x: hidden;
    overflow-y: auto;
}

#left {
    width: 100vw;
     background-color: white;
     padding-right:10px;
}

#right {
    width: 100vw;
    height: 1800px;
    background-repeat: repeat;
    background-image: url(images/index/tilesindex.jpg);
    background-size: contain;
}
}
