@font-face {
 font-family: isonormd;
 src: url("font/isonormd.ttf") /* TTF file for CSS3 browsers */
}
body {
	margin-top: 0px;
	font-family: 'isonormd', sans-serif;
	background-color: white;
	font-size: 15px;
	font-weight: normal;
}
h1 {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	padding: 0px;
}
p .p1 {
	font-family: inherit;
	margin: 0px;
	padding: 0px;
}
.p1 {
	max-width: 700px;
}
img {
	margin: 0px;
	padding: 0px;
}
table {
	border-collapse: collapse;
	font-size: inherit;
}
tbody {
	font-size: inherit;
}
tr {
	font-size: inherit;
}
td {
	text-align: left;
	vertical-align: top;
	font-size: inherit;
	font-weight: normal;
}
.col-prize {
	text-align: left;
	vertical-align: top;
	font-size: inherit;
	font-weight: normal;
    min-width: 140px;
}
a, img {
    border:none;
}
a {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #000000;
}
a:active {
	text-decoration: underline;
	color: #000000;
}
#all {
	width: 1200px;
	margin:0 auto;
}

#left {
	background-color: white;
	width: 400px;
	float: left;
	padding-bottom: 30px;
}

#right {
	background-color: white;
	width: 800px;
	float: right;
}
#sepa {
	margin-left: 0px;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
#sepa1 {
	margin-left: 0px;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
#sepa2 {
	margin-left: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
#sepa3 {
	margin-left: 0px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
#sepa4 {
	margin-left: 0px;
	margin-top: 60px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
#sepa-logos {
	margin-left: 0px;
	margin-top: 150px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
.flex-caption {
	width: 100%;
	text-align: center;
	height: 25px;	
} 
#models {
	height: 300px;
    overflow-y: auto;
}

.imov_tr {
}

.imov_table {
    width: 100%;
}
.imov_title {
    font-size: 100px;
}
.imov_txt {
font-size: 15px;
    margin-bottom: 26px;
    margin-top: 2px;

}}
